function Graphic.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push pointer 0
return
function Graphic.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Graphic.drawHand 0
push argument 0
pop pointer 0
push argument 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call Graphic.rockLeft 0
pop temp 0
goto IF_END1
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
call Graphic.paperLeft 0
pop temp 0
goto IF_END2
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
call Graphic.scissorLeft 0
pop temp 0
label IF_FALSE3
label IF_END2
label IF_END1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
call Graphic.rockRight 0
pop temp 0
goto IF_END4
label IF_FALSE4
push argument 1
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
call Graphic.paperRight 0
pop temp 0
goto IF_END5
label IF_FALSE5
push argument 1
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
call Graphic.scissorRight 0
pop temp 0
label IF_FALSE6
label IF_END5
label IF_END4
label IF_END0
push constant 0
return
function Graphic.paperLeft 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 324
push constant 77
push constant 511
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 451
push constant 105
push constant 511
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 444
push constant 98
push constant 450
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 431
push constant 91
push constant 443
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 84
push constant 430
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 345
push constant 91
push constant 399
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 338
push constant 98
push constant 344
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 345
push constant 110
push constant 387
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 393
push constant 98
push constant 399
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 128
push constant 412
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 413
push constant 103
push constant 419
push constant 127
call Screen.drawRectangle 4
pop temp 0
push constant 451
push constant 154
push constant 511
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 161
push constant 450
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 359
push constant 168
push constant 437
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 352
push constant 155
push constant 358
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 345
push constant 148
push constant 387
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 338
push constant 135
push constant 344
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 331
push constant 128
push constant 387
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 331
push constant 117
push constant 337
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.paperRight 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 77
push constant 187
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 511
push constant 511
sub
push constant 105
push constant 511
push constant 451
sub
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 98
push constant 511
push constant 444
sub
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 443
sub
push constant 91
push constant 511
push constant 431
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 430
sub
push constant 84
push constant 511
push constant 400
sub
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 91
push constant 511
push constant 345
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 344
sub
push constant 98
push constant 511
push constant 338
sub
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 387
sub
push constant 110
push constant 511
push constant 345
sub
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 98
push constant 511
push constant 393
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 412
sub
push constant 128
push constant 511
push constant 400
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 419
sub
push constant 103
push constant 511
push constant 413
sub
push constant 127
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 511
sub
push constant 154
push constant 511
push constant 451
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 161
push constant 511
push constant 438
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 437
sub
push constant 168
push constant 511
push constant 359
sub
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 358
sub
push constant 155
push constant 511
push constant 352
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 387
sub
push constant 148
push constant 511
push constant 345
sub
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 344
sub
push constant 135
push constant 511
push constant 338
sub
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 387
sub
push constant 128
push constant 511
push constant 331
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 337
sub
push constant 117
push constant 511
push constant 331
sub
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.rockLeft 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 324
push constant 77
push constant 511
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 451
push constant 105
push constant 511
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 444
push constant 98
push constant 450
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 431
push constant 91
push constant 443
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 84
push constant 430
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 393
push constant 98
push constant 399
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 129
push constant 412
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 413
push constant 103
push constant 419
push constant 127
call Screen.drawRectangle 4
pop temp 0
push constant 451
push constant 154
push constant 511
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 161
push constant 450
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 375
push constant 168
push constant 437
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 368
push constant 110
push constant 392
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 368
push constant 91
push constant 399
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 361
push constant 98
push constant 367
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 368
push constant 129
push constant 392
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 361
push constant 117
push constant 367
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 361
push constant 135
push constant 367
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 368
push constant 148
push constant 405
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 406
push constant 135
push constant 412
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 406
push constant 155
push constant 412
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 368
push constant 155
push constant 374
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.rockRight 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 77
push constant 187
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 511
push constant 511
sub
push constant 105
push constant 511
push constant 451
sub
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 98
push constant 511
push constant 444
sub
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 443
sub
push constant 91
push constant 511
push constant 431
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 430
sub
push constant 84
push constant 511
push constant 400
sub
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 98
push constant 511
push constant 393
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 412
sub
push constant 129
push constant 511
push constant 400
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 419
sub
push constant 103
push constant 511
push constant 413
sub
push constant 127
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 511
sub
push constant 154
push constant 511
push constant 451
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 161
push constant 511
push constant 438
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 437
sub
push constant 168
push constant 511
push constant 375
sub
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 392
sub
push constant 110
push constant 511
push constant 368
sub
push constant 116
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 91
push constant 511
push constant 368
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 367
sub
push constant 98
push constant 511
push constant 361
sub
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 392
sub
push constant 129
push constant 511
push constant 368
sub
push constant 134
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 367
sub
push constant 117
push constant 511
push constant 361
sub
push constant 128
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 367
sub
push constant 135
push constant 511
push constant 361
sub
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 405
sub
push constant 148
push constant 511
push constant 368
sub
push constant 154
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 412
sub
push constant 135
push constant 511
push constant 406
sub
push constant 147
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 412
sub
push constant 155
push constant 511
push constant 406
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 374
sub
push constant 155
push constant 511
push constant 368
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.scissorLeft 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 324
push constant 77
push constant 511
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 451
push constant 105
push constant 511
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 444
push constant 98
push constant 450
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 431
push constant 91
push constant 443
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 400
push constant 84
push constant 430
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 451
push constant 154
push constant 511
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 438
push constant 161
push constant 450
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 383
push constant 168
push constant 437
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 376
push constant 149
push constant 382
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 369
push constant 130
push constant 375
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 383
push constant 149
push constant 413
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 414
push constant 156
push constant 420
push constant 168
call Screen.drawRectangle 4
pop temp 0
push constant 376
push constant 130
push constant 418
push constant 136
call Screen.drawRectangle 4
pop temp 0
push constant 414
push constant 130
push constant 420
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 419
push constant 105
push constant 425
push constant 129
call Screen.drawRectangle 4
pop temp 0
push constant 393
push constant 91
push constant 399
push constant 129
call Screen.drawRectangle 4
pop temp 0
push constant 375
push constant 91
push constant 399
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 362
push constant 84
push constant 374
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 337
push constant 77
push constant 361
push constant 83
call Screen.drawRectangle 4
pop temp 0
push constant 330
push constant 84
push constant 336
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 337
push constant 97
push constant 355
push constant 103
call Screen.drawRectangle 4
pop temp 0
push constant 356
push constant 104
push constant 374
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 375
push constant 111
push constant 381
push constant 117
call Screen.drawRectangle 4
pop temp 0
push constant 331
push constant 118
push constant 374
push constant 124
call Screen.drawRectangle 4
pop temp 0
push constant 324
push constant 125
push constant 330
push constant 137
call Screen.drawRectangle 4
pop temp 0
push constant 331
push constant 138
push constant 374
push constant 144
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.scissorRight 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 77
push constant 187
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 511
push constant 511
sub
push constant 105
push constant 511
push constant 451
sub
push constant 111
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 98
push constant 511
push constant 444
sub
push constant 104
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 443
sub
push constant 91
push constant 511
push constant 431
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 430
sub
push constant 84
push constant 511
push constant 400
sub
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 511
sub
push constant 154
push constant 511
push constant 451
sub
push constant 160
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 450
sub
push constant 161
push constant 511
push constant 438
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 437
sub
push constant 168
push constant 511
push constant 383
sub
push constant 174
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 382
sub
push constant 149
push constant 511
push constant 376
sub
push constant 167
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 375
sub
push constant 130
push constant 511
push constant 369
sub
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 413
sub
push constant 149
push constant 511
push constant 383
sub
push constant 155
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 420
sub
push constant 156
push constant 511
push constant 414
sub
push constant 168
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 418
sub
push constant 130
push constant 511
push constant 376
sub
push constant 136
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 420
sub
push constant 130
push constant 511
push constant 414
sub
push constant 148
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 425
sub
push constant 105
push constant 511
push constant 419
sub
push constant 129
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 91
push constant 511
push constant 393
sub
push constant 129
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 399
sub
push constant 91
push constant 511
push constant 375
sub
push constant 97
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 374
sub
push constant 84
push constant 511
push constant 362
sub
push constant 90
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 361
sub
push constant 77
push constant 511
push constant 337
sub
push constant 83
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 336
sub
push constant 84
push constant 511
push constant 330
sub
push constant 96
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 355
sub
push constant 97
push constant 511
push constant 337
sub
push constant 103
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 374
sub
push constant 104
push constant 511
push constant 356
sub
push constant 110
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 381
sub
push constant 111
push constant 511
push constant 375
sub
push constant 117
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 374
sub
push constant 118
push constant 511
push constant 331
sub
push constant 124
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 330
sub
push constant 125
push constant 511
push constant 324
sub
push constant 137
call Screen.drawRectangle 4
pop temp 0
push constant 511
push constant 374
sub
push constant 138
push constant 511
push constant 331
sub
push constant 144
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Graphic.Plus1User 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 6082
call Graphic.drawHeart 1
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6084
call Graphic.drawHeart 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 6086
call Graphic.drawHeart 1
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function Graphic.Plus1Computer 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 6109
call Graphic.drawHeart 1
pop temp 0
goto IF_END0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 6107
call Graphic.drawHeart 1
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 6105
call Graphic.drawHeart 1
pop temp 0
label IF_END1
label IF_END0
push constant 0
return
function Graphic.drawHeart 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 7740
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 8514
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16537
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16397
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16389
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16385
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8194
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4100
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 2056
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 1040
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 320
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 128
call Memory.poke 2
pop temp 0
push constant 0
return
function Graphic.UserWon 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 50
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 49
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 49
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 45
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 50
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 47
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 40
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 226
call String.appendChar 2
push constant 8364
call String.appendChar 2
push constant 339
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 33
call String.appendChar 2
push constant 226
call String.appendChar 2
push constant 8364
call String.appendChar 2
push constant -3
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Graphic.ComputerWon 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 49
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 47
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 47
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 46
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 47
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 45
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 43
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function Graphic.DrawRender 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 43
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 43
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 59
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 55
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 96
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 96
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 39
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 96
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 55
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 50
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 44
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 124
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 95
call String.appendChar 2
push constant 47
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 40
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 107
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
