function main.main 2
call Random.init 0
pop temp 0
call Graphic.new 0
pop local 0
push local 0
call RPSGame.new 1
pop local 1
push local 1
call RPSGame.run 1
pop temp 0
push local 1
call RPSGame.AnnounceWinner 1
pop temp 0
push local 1
call RPSGame.dispose 1
pop temp 0
push constant 0
return
